
<div class="formUser">
    <form action="/infoUser">
        <input type="text" placeholder="Введите имя" name="imia">
        <input type="text" placeholder="Введите группу" name="fam">
        <input type="text" placeholder="Введите курс" name="age">
        <input type="submit" class="btn">
        <button><a href="/getUsers">Список друзей</a></button>
    </form>
</div>
